body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    margin: 0;
    background: #a2d2ff;
    background: linear-gradient(#a2d2ff, pink);
    color: #ffffff;
}

/* Utillity Classes */
h1, h2, h3, h4, p {
    text-shadow: 1px 1px 2px black;
}

/* Header Section */
.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#bd__date, #bd__age {
    background: #EFB0C9;
    padding: 6px;
    border-radius: 3px;
}

#bff-img {
    width: 250px;
    height: 220px;
    border: 6px solid #EFB0C9;
    border-radius: 50%;
}

/* Gift Section */
.gift__section {
    margin-top: 50px;
    margin-bottom: 20px;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

.gift__title {
    margin-bottom: 10px;
}

.gift__hint {
    margin-top: 0;
}

.gift__img {
    width: 400px;
    height: 400px;
    background: url("/images/gift-cover.jpg");
    background-size: cover;
    border: 5px solid white;
    border-radius: 10px;
    margin: 0 auto;
}

#first__card:hover {
    background: url("/images/happy.gif");
}

#second__card:hover {
    background: url("/images/hot.gif");
    background-size: cover;
}

#third__card:hover {
    background: url("/images/genius.gif");
    background-size: cover;
}

#fourth__card:hover {
    background: url("/images/badass.gif");
    background-size: cover;
}

#final__card {
    height: 200px;
}

#final__card:hover {
    background: url("/images/cheers.gif");
    background-size: cover;
}

/* Footer */
footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-shadow: none;
}